*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* homepage */
.banner{
  width: 100%;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./components/assets/background.jpg");
  background-size:cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto;
  /* background-color: red; */
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo{
  color: #f3bd03;
  font-family: 'Cinzel Decorative', cursive;
}

.navbar ul .links{
  list-style:none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* .navbar ul .links {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
} */

.navbar ul .links::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left:0;
  bottom: -40;
  transition: 0.5s;
}

.navbar ul .links:hover::after{
  width: 100%;
}

.content{
  width:100%;
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
  text-align: center;
  color: white;
  /* background-color: red; */
}

.content h1{
  font-size:70px;
  margin:80px;
}

.content p{
  margin: 20px;
  font-weight: 100px;
  line-height: 25px;

}

button{
  width:200px;
  padding:15px ;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left:0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

/* projectitem */
.deleteproject, .showhideteam, .addproject {
  width:100px;
  padding:8px ;
  text-align: center;
   /* margin: 20px 10px;  */
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color:black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projectbanner{
  width: 100%;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./components/assets/background.jpg");
  background-size:cover;
  background-position: center;
  display: flex;
  align-items: center ;
  justify-content:center ;
} 

.projectholder{
  
  background-color: white;
  border-radius: 15px;
  width:80%;
  height:80%;
  padding: 40px;
  position: relative;
  transform:translateY(3%) ;
  overflow-y: scroll;
 
  
} 

/* .projectlist{
  text-align: center;
  list-style-position:outside;
} */

.projectholderform{
  padding-bottom: 50px;
}
/* .title{
  display: table;
}*/



 /* .buttonholder{
  display:table-cell;
   justify-content: flex-end; 
}  */


/* Login */
.loginwrapper{
  position: relative; /*parent position*/
  /* background-color: yellow; */
  height: 70%;
  width: 70%;
  transform: translate(25%, 25%); /*centers a div within a div */

}
.formcontainer{
 
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(9px);
  padding: 35px 0;
  position: absolute; /*child position*/
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*centers a div within a div */
  align-items: center;
  border-radius: 15px;
  text-align: center;
}

.form{
  /* background-color: red; */
  width: 70%;
  height: 70%;
  position: relative;
  transform: translate(25%, 25%); 
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.form input{
  border-radius: 12px;
  margin-left:2% ;
  width: 20vw;
  padding: 7px;
  margin-bottom: 2%;
}

label{
  font-weight: bold;
  font-size: large;
  display: inline-block;
  width: 120px;
  color: #f3bd03;
}

/* .formfield{
  margin-bottom: 3px;
} */

.submitbtn{
  width:100px;
  padding:10px ;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  text-transform: uppercase;
}

/* newteammateform */

.addteammate {
  width:100px;
  padding:8px ;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color:black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}



/* teammateitem */

.teamitemholder{
    display: flex;
    align-items: center;
    padding-right: 25px;
    
   
}

.teamitemholderwithin{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.deleteteamitem{
  width:100px;
  padding:8px ;
  margin: 20px 10px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color:black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* newprojectform */



.newprojectform{
  width: 70%;
  height: 70%;
  position: relative;
  transform: translate(25%, 25%); 
  align-items: center;
  padding-right: 20px;
}

.projectformholder{
  display: grid;
  grid-template-columns: 0.2fr  0.5fr ;
}

.projectformholder input{
  border-radius: 12px;
  width: 20vw;
  padding: 8px;
  
}